#profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

body {
  background-color: #679289;
  font-family: 'REM', sans-serif;
}

.header {
  font-size: 25px;
}

a:hover {
  color:black
}
